program_de/test/functional/output/fred_test/
program_de/test/functional/output/fred_train/
program_de/test/functional/output/frprep/
program_de/test/functional/output/prp_test/
program_de/test/functional/output/prp_train/
program_de/test/functional/output/rosy_test/
tmp/
.yardoc
ydoc
wiki
