Gemfile.lock
sb_stuff
tools
test/functional/output/fred_test/
test/functional/output/fred_train/
test/functional/output/frprep/
test/functional/output/prp_test/
test/functional/output/prp_train/
test/functional/output/rosy_test/
test/functional/output/rosy_train/
test/functional/output/prp_*input
test/functional/output/prp_*output
test/functional/output/stxmloutput
test/functional/output/taboutput
tmp/
.yardoc
ydoc
.bundle
*.gem
SENSITIVE
*~
