test/functional/output/fred_test/
test/functional/output/fred_train/
test/functional/output/frprep/
test/functional/output/prp_test/
test/functional/output/prp_train/
test/functional/output/rosy_test/
tmp/
.yardoc
ydoc
